body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.nav-elements {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.contact-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
}

button:hover {
  cursor: pointer;
}

.web {
  color: blue;
}

.studio {
  color: black;
}
