body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-text-color: #212121;
  --background-color: #ffffff;
}

body.link:focus .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

address {
  font-style: normal;
  text-decoration: none;
}

.nav-elements {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
}

.nav-elements:hover {
  color: #2196f3;
}

.contact-data {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: #757575;
}

.contact-data:hover {
  color: #2196f3;
}

footer {
  background-color: #2f303a;
}

.footer-contact-data-email {
  font-size: 14px;

  line-height: 1.71;
  color: #ffffff99;
}
.footer-contact-data-number {
  font-size: 14px;

  line-height: 1.71;
  text-decoration: none;
  color: #ffffff99;
}

.footer-street-name {
  font-size: 14px;

  line-height: 1.71;
  color: #ffffff;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}

button:hover {
  cursor: pointer;

  -webkit-text-fill-color: white;
}

.web {
  color: blue;
}

.studio {
  color: black;
}

.footer-studio {
  color: #ffffff;
}

.img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
}

.img-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: #757575;
}

.menu-buttons {
}

.menu-images {
}

.application {
}

.website {
}
.design {
}

.main-page-first-section {
  background-color: #2f303a;
}

.assets {
}

.about-us {
}

.team {
}
